<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student"> 

	<!-- 학생 등록 -->
	<insert id="insertStudent" parameterType="com.university.nuri.vo.studentvo.StudentVO">  	
	   	   insert into student (dept_idx, user_idx, s_address, s_address2, s_enter_year, s_grade, s_applycredit, s_maxcredit, s_enrollcredit, s_active) 
    VALUES(2, #{user_idx}, #{s_address}, #{s_address2}, CURDATE(), #{s_grade}, #{s_applycredit}, #{s_maxcredit}, #{s_enrollcredit}, DEFAULT)
  	</insert> 
  	<!-- 학생 년도 조회 -->
  	<select id="yearcount" resultType="int">
    	SELECT COUNT(*) FROM student WHERE YEAR(s_enter_year) = #{yearstr} AND dept_idx = #{deptIdx}
  	</select>

</mapper>















