# 빌드 결과물
/target/
/bin/
/build/
/dist/

# IDE 환경 설정 파일
/.idea/
/.vscode/
/.classpath
/.project
/.settings/
*.iml

# 로그 파일
*.log

# 시스템 생성 파일
.DS_Store
Thumbs.db

# 패키지 설치 결과물(Node.js 등 있을 경우)
/node_modules/
/.metadata/
